

img{
  width: 100%;
  height: auto;
  display: inline-block;
}













.lineL {
  position: static;
  width: 731.37px;
  height: 0px;
  left: 104.71px;
  top: 473px;

  border: 1px solid rgba(255, 255, 255, 0.31);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 50px 0px;
}
