.lineL {
    /* position: static; */
    margin: 50px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.star-bar {
    width: 100%;
    display: flex;
    padding: 32px;
}

.rate-star {
    position: relative;
    min-width: 20px;
    flex-grow: 1;
    background: url(/access/images/star.png);
    background-size: cover;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.15));
}

.rate-star:before {
    display: block;
    content: "";
    padding-top: 100%;
}

.norm-btn {
    padding: 16px 32px;
    align-self: center;
}

.norm-textarea {
    width: 100%;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Card Bludo */

.card {
    position: relative;
    background-color: var(--self-color);
    max-width: 590px;
    min-width: 275px;
    flex-grow: 1;
}

.card>.card-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 8px;

    display:flex;
    flex-direction: column;
    gap: 2px;
}
.card:before {
    display: block;
    content: "";
    padding-top: 100%;
}

.card-img {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-place-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    background-color: #000;
}

.card-place-text > p {
    font-family: 'MedievalSharp';
}