@font-face {
    font-family: 'MedievalSharp';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MedievalSharp-Regular.ttf');
}
@font-face {
    font-family: 'UnifrakturMaguntia';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/UnifrakturMaguntia-Regular.ttf');
}
@font-face {
    font-family: 'Quintessential';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Quintessential-Regular.ttf');
}
