
::-webkit-scrollbar{
    display: none;
}

* {
    font-family: var(--font-1);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
}

* {
    scrollbar-width: none;
}